name: prod-release

on:
  workflow_dispatch:
    inputs:
      commit_id:
        description: "Commit SHA to promote to PROD"
        required: true

permissions:
  contents: read
  statuses: write

jobs:
  prod:
    uses: azhardevmd/workflows/.github/workflows/prod-pipeline.yaml@main
    with:
      project: robomart
      component: catalogue
      commit_id: ${{ inputs.commit_id }}
      environment: dev #This must be "prod"
      source_repo: azhardevmd/catalogue
    secrets: inherit