name: Prod-Pipeline

on:
  workflow_dispatch:
    inputs:
      commit_id:
        description: "First 9 chars commit SHA to deploy"
        required: true
        type: string

permissions:
  contents: read
  statuses: write
  security-events: read

jobs:
  prod:
    if: github.ref_name == 'main'
    environment: dev   # test approval here first

    uses: azhardevmd/workflows/.github/workflows/prod-pipeline.yaml@main

    with:
      project: robomart
      component: catalogue
      commit_id: ${{ inputs.commit_id }}
      environment: dev

    secrets: inherit